<template name='editProfileNav'>
    <div class="col-6 col-md-3" id="editNav">
        <h6 class="card-title" style="font-weight:bolder">แก้ไขโปรไฟล์</h6>
        <div class="card">
            <div class="list-group list-group-flush" id="edit_profile">
                <a href="#editPersonal" class="list-group-item list-group-item-action">ข้อมูลส่วนตัว</a>
                <a href="#editId" class="list-group-item list-group-item-action">ข้อมูลบัตรประชาชน</a>
                <a href="#editExp"
                   class="list-group-item list-group-item-action">การศึกษาและประสบการณ์</a>
                <a href="#editResume" class="list-group-item list-group-item-action">เรซูเม่</a>
            </div>
        </div>
    </div>
</template>