<template name="QueryPosts">
    <div class="col-6 col-md-3 mt-3" id="sidebar">
        <div class="mb-3">
            <h6 class="card-title" style="font-weight:bolder">{{_ 'jobposting.posttype'}}</h6>
            <div class="card">
                <div class="list-group list-group-flush" id="post_type">
                    <a href="#" class="list-group-item list-group-item-action active">{{_ 'jobposting.jobposting'}}</a>
                    <a href="#" class="list-group-item list-group-item-action">ฟรีแลนซ์</a>
                </div>
            </div>
        </div>
        <div class="mb-3">
            <h6 class="card-title" style="font-weight:bolder">ประเภทการจ้างงาน</h6>
            <div class="card">
                <div class="list-group list-group-flush" id="employment_type">
                    <a href="#" class="list-group-item list-group-item-action active">นักศึกษาฝึกงาน</a>
                    <a href="#" class="list-group-item list-group-item-action">งานประจำ</a>
                    <a href="#" class="list-group-item list-group-item-action">พาร์ทไทม์</a>
                </div>
            </div>
        </div>
    </div>
</template>